name: CI/CD Deploy Laravel

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3

    # --- Copy Code ---
    - name: Upload Files to Server
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.SERVER_IP }}
        username: ${{ secrets.SERVER_USER }}
        password: ${{ secrets.SERVER_PASS }}
        port: 22
        source: "./*"
        target: "/home/rashmik.parmar/www/PHP-GithubAction-CICD/laravel-app"
        overwrite: true

    # --- SSH Docker Deploy ---
    - name: Deploy & Restart Docker
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.SERVER_IP }}
        username: ${{ secrets.SERVER_USER }}
        password: ${{ secrets.SERVER_PASS }}
        port: 22
        script: |
          cd /home/rashmik.parmar/www/PHP-GithubAction-CICD/laravel-app
          sudo docker-compose down || true
          sudo docker-compose up -d --build
          sudo docker ps
