name: CI/CD Build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Build Docker Image (No Push)
      run: |
        docker build -t laravel-ci-demo .

    - name: Run Container to Test
      run: |
        docker run -d -p 8000:80 --name test-laravel laravel-ci-demo
        sleep 5
        docker logs test-laravel

    - name: Stop & Remove Container
      run: |
        docker stop test-laravel
        docker rm test-laravel
